#time {
  margin: 20px 10px 30px;
  font-size: 20px;
}

.controls {
  display: flex;
}

#startbtn, #stopbtn, #resetbtn {
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: bold;
}

.inactive {
  opacity: 0.6;
}